on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: python running form Docker
    steps:
      - name: create zip file
        id: create_zip
        uses: abrahamNtd/poc-git-action-python@v9
        with:
          python-action: 'create a zip file'
          python-user: 'admin'